site_name: "Grid Reducer Documentation"
site_url: https://grid-kitchen.github.io/grid-reducer
repo_url: https://github.com/Grid-Kitchen/grid-reducer
theme: 
  name: material
  logo: assets/logo.png
  font: 
    text: Inter
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: "material/brightness-7"
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: "material/brightness-5"
        name: Switch to light mode
extra_css:
  - stylesheets/extra.css
markdown_extensions: 
  - admonition
  - codehilite
  - md_in_html
  - "pymdownx.details"
  - "pymdownx.superfences"
  - toc:
      permalink: true
nav:
  - Getting Started:
      - Getting Started: index.md
      - Downloading SMARTDS Model: getting-started/smartds.md
      - Developer Guides: getting-started/dev-guides.md
  - Methodology: methodology.md
extra: 
  version:
    provider: mike
    default: latest